<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section>
        <h1>ランキング登録</h1>
            <form class="fetchForm" name="form1">
                <p>タイトル</p>
                <input type="text" name="name" size="30" maxlength="30" class="name"><br>
                <p>ランク</p>
                <input type="text" name="rank" size="30" maxlength="30" class="rank"><br>
                <input type="button" value="送信" class="btn">
            </form>
    </section>
    <a href="javascript:history.back()">[戻る]</a>
    <script src="/js/create_ranking.js"></script>
</body>
</html>