<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div id="profile"></div>
        <ul id="list">
            
        </ul>
        <script>
            const pass=window.location.pathname
            const words = pass.split('/');
            let url = '/ranking/'+words[2]

            async function callAPI() {
                let res = await fetch(url);
                let jsonData = await res.json();

                let ul = document.getElementById('list');
                let profile = document.getElementById('profile');
                let profileURL = document.createElement('a');
                profileURL.href="/users-html/"+words[2]
                profileURL.innerHTML="プロフィール"
                profile.appendChild(profileURL);
                for (let i of jsonData) {
                    let a = document.createElement('a');
                    let img = document.createElement('img');
                    a.innerHTML =  "<li>ランキング"+i.Rank+"位 "+i.Title+"<br></li>"
                    img.src=i.ImageURL
                    ul.appendChild(a);
                    ul.appendChild(img);
                }
            }
            callAPI();
        </script>
    </body>
</html>