<html>

<head>
    <meta charset="utf-8">
    <script language="javascript" type="text/javascript">
        function OnButtonClick() {
            window.location.reload();
        }
    </script>
</head>

<body>
    <input type="button" value="手動更新" onclick="OnButtonClick();"/><br />
    <div id="profile"></div>
    <ul id="list">

    </ul>
    <script>
        const pass = window.location.pathname
        const words = pass.split('/');
        let url = '/ranking/' + words[2]

        async function callAPI() {
            let res = await fetch(url);
            let jsonData = await res.json();

            let ul = document.getElementById('list');
            let profile = document.getElementById('profile');
            let profileURL = document.createElement('a');
            profileURL.href = "/users-html/" + words[2]
            profileURL.innerHTML = "プロフィール"
            profile.appendChild(profileURL);
            for (let i of jsonData) {
                let a = document.createElement('a');
                let img = document.createElement('img');
                let comment = document.createElement('p');
                a.innerHTML = "<h2>ランキング" + i.Rank + "位 " + i.Title + "<br><br></h2>"
                img.src = i.ImageURL
                comment.innerHTML = "<h3>投稿者からのコメント<br>" + i.PosterComment + "</h3>"
                ul.appendChild(a);
                ul.appendChild(img);
                ul.appendChild(comment);
            }
        }
        callAPI();
    </script>
</body>

</html>